table{
    background-color: rgb(155, 226, 242);
    border: solid 5px black ;
    width: 70%;
    height: 40vh;
}
th{
    text-align: center;
}
tr{
    text-align: center;
}
 
.btn {
    border: solid  black; 
    width: 200px;
    background-color: blanchedalmond;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}